<!DOCTYPE html>
<h1>BigTent Taxidermist</h1>
<ul>
<% for (var i=0; i < screens.length; i++) { %>
  <li><a href="<%= screens[i][0] %>"><%= screens[i][1] %></a></li>
<% } %>
</ul>
<div class="logo"></div>