<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Foundation 4</title>

  <link rel="stylesheet" href="vendor/css/normalize.css" />
  
  <link rel="stylesheet" href="vendor/css/foundation.css" />
  
  <link rel="stylesheet" href="taxiderm.css" />

  <script src="vendor/js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <div class="row first">
    <div class="large-8 columns">
      <h1>BigTent Taxidermist</h1>
      <h3>Screens:</h3>
      <ul>
        <% for (var i=0; i < screens.length; i++) { %>
          <li><a href="<%= screens[i][0] %>"><%= screens[i][1] %></a></li>
        <% } %>
      </ul>
  </div>
  <div class="large-4 columns">
    <div class="logo"><img src="/logo_sketch.png" /></div>
  </div>
</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'vendor/js/vendor/zepto' : 'vendor/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="vendor/js/foundation.min.js"></script>
  <!--
  
  <script src="vendor/js/foundation/foundation.js"></script>
  
  <script src="vendor/js/foundation/foundation.alerts.js"></script>
  
  <script src="vendor/js/foundation/foundation.clearing.js"></script>
  
  <script src="vendor/js/foundation/foundation.cookie.js"></script>
  
  <script src="vendor/js/foundation/foundation.dropdown.js"></script>
  
  <script src="vendor/js/foundation/foundation.forms.js"></script>
  
  <script src="vendor/js/foundation/foundation.joyride.js"></script>
  
  <script src="vendor/js/foundation/foundation.magellan.js"></script>
  
  <script src="vendor/js/foundation/foundation.orbit.js"></script>
  
  <script src="vendor/js/foundation/foundation.placeholder.js"></script>
  
  <script src="vendor/js/foundation/foundation.reveal.js"></script>
  
  <script src="vendor/js/foundation/foundation.section.js"></script>
  
  <script src="vendor/js/foundation/foundation.tooltips.js"></script>
  
  <script src="vendor/js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>