<div id="confirm-new-project" class="row first page">
  <div class="large-8 columns">
    <h1>Confirm New Project</h1>
    <form id="confirm-new-project">
      <fieldset>
        <label for="project-name">Name</label>
        <input id="project-name" name="project-name" value="{{ projectName }}" />
      </fieldset>
      <button class="continue">Save</button>
      <button class="cancel">Cancel</button>
    </form>
  </div>
</div>