  <div id="homepage" class="row first page">
    <div class="large-8 columns">
      <h1>Taxidermy your Webapp</h1>
      <p>Drag and drop a project folder below. Taxidermy will find your frontend template files, fill them them with fake data, and start a web server so you can edit them without a backend.</p>
      <p>Taxidermy will even watch for changes to your files and will cause the page to reload in your browser.</p>
      <p>Boom!</p>
      <div class="filedropzone"><p>Drag Project Folder here or <a id="chooseProjectFolderLink" href="#">Choose Folder</a>
        <input style="display:none;" id="chooseProjectFolderDialog" type="file" nwdirectory />
        <ul class="chooseProjecttemplateList">
        </ul>
      </p></div>
    </div>
    <div class="large-4 columns">
      <div class="logo"><img src="server/lib/views/static/logo_sketch.png" /></div>
    </div>
  </div><!-- /#homepage -->