<div id="preview-screen" class="row first page">
  <div class="large-8 columns">
  <button class="secondary">All Screens</button>
    <h1>{{previewScreenName}}</h1>
    Preview Screen using {{previewScreenTemplate}}

  <p>Preview this template at
  <a href="http://192.168.186.138:8889/{{previewScreenTemplate}}">http://192.168.186.138:8889/{{previewScreenTemplate}}</a> <strong class="preview-url-feedback">Copied to Clipboard</strong></a>
  <h2>Fake Data</h2>

    <form>
      <label>claimed</label>
      <input value="alice@yahoo.com" />

      <label>mismatched</label>
      <input value="alice@yahoo.co.uk" />

      <label>provider</label>
      <input value="Yahoo" />

      <label>providerURL</label>
      <input value="https://mail.yahoo.com" />

      <button>Update</button>
    </form>
  </div>
</div>