  <div id="template-pool" class="row first page">
    <div class="large-4 columns">
      <h1>Available Templates</h1>
      Screens will be available at <a class="preview-url-copy" href="http://192.168.186.138:8889/">http://192.168.186.138:8889/</a> <strong class="preview-url-feedback">Copied to Clipboard</strong>
      <p>Choose a template which you'd like to preview.</p>
      <ul class="chooseProjecttemplateList">
        </ul>
    </div>
    <div class="large-8 columns">

    </div>
  </div>